<div class="question-1">
  <fieldset id={{question}} class="filter-fieldset">
    <legend>{{description}}</legend>
    <div>
      <input type="radio" name={{question-name}} id={{question-yes}} value="Yes" class="yes-no-radio">
      <label for="{{question-yes}}">Yes</label>
    </div>
    <div>
      <input type="radio" name={{question-name}} id={{question-no}} value="No" class="yes-no-radio">
      <label for={{question-no}}>No</label>
    </div>
  </fieldset>
</div>
